#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84.tgz
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/VERSION-INFO
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/dependency_mod/Makefile
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/dependency_mod/depmod.c
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/dependency_mod/env
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/README.EXFAT
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/html/exfatck.html
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/html/exfatdebug.html
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/html/exfatinfo.html
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/html/exfatlabel.html
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/html/mkexfat.html
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/manual/exfatck.8
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/manual/exfatdebug.8
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/manual/exfatinfo.8
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/manual/exfatlabel.8
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/manual/mkexfat.8
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/text/exfatck.txt
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/text/exfatdebug.txt
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/text/exfatinfo.txt
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/text/exfatlabel.txt
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/docs/text/mkexfat.txt
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/objects/Kconfig
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/objects/Makefile
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/objects/Makefile.autobuild
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/objects/Module.symvers
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/tools/exfatck
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/tools/exfatdebug
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/tools/exfatinfo
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/tools/exfatlabel
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/exfat/tools/mkexfat
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/tools/README.BENCH
/tuxera-exfat-3015.1.29.3-msm8992-3.10.84/tools/tuxera.bench
